
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: 'Montserrat', sans-serif;
    font-style: thin;
  }


}

section {
    /* display: flex; */
    min-height: 500px;

}

h1 {

    text-align: center;
    margin-top: 20%;
    color: white;
    padding: 1vh;
    font-size: 4vh;
}
h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
}

hr {
  border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

header {
    background-image:url("../public/img/background2.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-clip: border-box;
    margin: -1%;
    min-height: 830px;
    text-align: center;
    padding: 15px;
    font-family: Montserrat;


}
header h1{
  font-size: 60px;
}

header h2{
  color:white;
  font-size:40px;
}

nav {
    position: absolute;
    bottom: 0px;
    align-items: center;
    margin: 5%;
    background-size: contain;
    width: 86%;
}

nav ul {

    margin: 0;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;

}

nav a:hover {
    color: violet;
}

nav a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}




#about {
  min-height: 802px;
    background: white;
  text-align: center;
  align-items: center;
  background-color:white;
  width: 100%;

}

#about h2{
  padding-top:40px;
}

 #about .card {

   display: inline-block;
   margin: 2%;
   text-align: center;
   background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}
#about .container{
  margin-bottom: 40px;
}

#about .row {


  justify-content: space-around;
}

#about .col{


}

#about .col p{
  display: inline-flex;

  padding:15px;

}
#about img{

      border-radius: 80%;

}

#background{
  background-attachment: fixed;
  background-image:url("../public/img/background8.jpeg");
  background-size: cover;
  background-position: top;
  background-clip: border-box;
  margin: -1%;

}
#background .row {
    display: flex;

    margin: 3% 13%;
}
#background .card  {

      font-weight: 200;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #fff;
      border: 2px solid ;
      border-color: black;
      border-radius: 2px;
      margin: 1%;
      width: 30%;
}

#background .card-body{

    line-height: 1.5;
    padding: 0% 10%;

}

#projects {
  min-height: 700px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  align-items: center;





}
.section-heading{
  align-items: center;
  text-align: center;
}

#projects .card p{





}
#projects.container{

}
#projects p{
  background-color:white ;

}
#projects h2{
  color:black;
}
#projects .row {
display: inline-block;
flex-direction: column-reverse;

}
#projects .col {

  display: inline-block;
  flex-direction: column-reverse;


}


#projects img {
  border-radius: 50%;

}

#projects ul {
  list-style: none;
}


* {
  box-sizing: border-box;
}


#portifolio .row {
  margin:1% 10%;
  display:flex;
}



/* Content */
#portifolio .card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-weight: 200;
  position: relative;
 flex-direction: column;
 text-align: center;
 border: 2px solid ;
 border-radius: 2px;
 width: 31%;
 margin: 1%;

}

#portifolio .card:hover {
  box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2);
}
#portifolio .container {
  padding: 6px 20px;
}
#portifolio img{
  height:250px;
  padding: 10px;
}
#portifolio .container{
  line-height: 1.5;
  padding: 0% 10%;

}




footer {
   border:solid;
  background: #3C3B3F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  margin:0 -1% -4% -1%;
  background-origin: content-box;
  padding-bottom: 1%;
  align-items: absolute;
  text-align: center;


}
footer a{
  color:white;
}
footer .fa {
  padding: 0px;
  color: white;
  height: 2px;
  align: center;
}
footer .headline {

  text-align: center;
  color: white;
  font-size: 15px;
  padding-top: 3px;
  height: 35px;
}
footer i{
  margin:1%;
}

/*Media Queries*/

@media only screen and (max-width: 10%) {
  header {
    align-items: center;
    display: flex;
    flex-direction: column;

  }



  #logo {
    width: 75vw;
    margin: 0 auto;
  }

  nav {
    height: 15vh;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }

  nav ul {

    justify-content: center;
  }

  main {
    height: 110vh;

  }



  #about .top {
    height: 72px;
  }

  #about  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about h3 {
    height: 32px;
    margin-top: 5px;
    margin-bottom: -15px;
    color: red;
  }

  #about .col {
    width: 90vw;
  }

  #projects {
    height: 220vh;
  }

  #projects .row {
    display: flex;

  }

  #projects .col {

  }

  #projects img {
    height: 50vh;
    width: auto;
  }
  #about.card{
    margin:30%;
  }
  #about.row{

  }
  #about .col{

    display: flex;

  }

  #portifolio .row{

  }
  #portifolio .col {
    display: flex;
      }
